.wrapper{
    position: relative;
    align-items: center;

    }
    .formContainer{
       
        position: relative;
        bottom: 550px;
       border-radius: 10%;
        background-color: rgb(1, 23, 16,0.1);
        width: 30%;
        left: 37%;
        height: auto;
        z-index: 1;
        padding-bottom: 40px;
    }
    .enteredInput{
        border-radius: 10px;
        padding-left: 20px;}
    .enteredInput input{
        font-size: 20px;
        padding-left: 4%;
        border: 1px solid rgb(232, 225, 225) ;
        // font-size: larger;
      height: 70px;
      width: 80%;
    }
    
    
    .enteredInput button{
    
        font-size: 20px;
        background-color:  black;
        color: aliceblue;
      height: 60px;
      width: 80%;
    }