.container{
 
    background-color: black;
    opacity: 0.8;
    height: 316px;
    position: relative;
    // flex-wrap: wrap;
    // margin-top: 100%;
    width:100% ;
    color: azure;
    display: flex;
    justify-content: center;
}
.title h1 {
font-size: x-large;
padding: 25px 130px 0px 130px;

}
.title p {
    font-size: large;
    color: silver;
}