.container {
    
    background-color:  white;
    height: 56px;
//     font-weight:100 ;
//     z-index: 29;
   position: fixed;

//    justify-content: space-between;
   width: 91%;
   top: 0;
//    left: 0;
//    right: 0;
//    width: 100%;
  z-index: 100;
   cursor: pointer;
}
.container a {
    text-decoration: none;
    font-size: 1.7rem;
    color: rgb(10, 2, 2);
}
.title {
    
    position: absolute;
    top: -11px;
    left: 46%;
    
}
.orange{
   
    color: #d7ae0d;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #da7603;
}

.container a:hover,
.container a:active,
.container a.active {
  color: #ae0628;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}
